.container {
  background-color: rgb(57, 174, 197);
  padding: 32px;
}

.name {
  text-align: center;
  font-size: 1.25rem;
}

.rowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  flex-wrap: wrap;
  gap: 32px;
}
